#bg-img {
  height: 100vh; /* 100 view height */
  width: 100vw; /* 100 view width */
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1; /* goes behind text n stuff */
  top: 0;
  left: 0; /* mobile fix */
}

footer p {
  font-size: 16px; 
  color: rgb(192, 192, 192);
}

header {
  padding: 5px;
  border-bottom: 1px solid rgb(42, 42, 42);
}

.container {
  display: block;
  margin: auto;
}

.container h1 {
  text-align: left;
  font-size: 20px;
}

.code {
  font-size: 30px; font-family: Menlo,Monaco,Consolas,'Courier New',monospace; color: rgb(192, 192, 192);
}

.btn {
  padding: 15px 30px;
  width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 0.5px solid rgb(192, 192, 192);
  background-color: rgb(15, 15, 15);
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  border: 0.5px solid rgb(128, 128, 128);
  color: rgb(192, 192, 192);
}

.box-wrapper {
  display: grid;
  margin: auto;
  margin-bottom: 100px; 
  background-color: black;
  width: 50rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.box-wrapper p{
  font-weight: 400;
  font-family: Consolas, 'Courier New', monospace;
  color: rgb(192, 192, 192);
}

.b1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.b3 {
  grid-column-end: span 3;
}

.box {
  display: block;
  text-decoration: none;
  border: 1px solid rgb(192, 192, 192);
  background-color: rgb(15, 15, 15);
  border-radius: 7px;
  padding: 20px;
}

.box:hover {
  box-shadow: white 0px 0px 15px;
}

.box h1{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.box p {
  font-family: -apple-system,BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
}

body {
  background: rgb(0, 0, 0) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-position: center;
}

p {
  font-family: -apple-system,BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  overflow-wrap: break-word;
}

h1 {
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;	
}

section {
  float: center; 
  margin-top: 200px;
  margin-bottom: 200px;
}

.yt-box {
  display: block;
  width: 560px;
  height: 316px;
  margin: auto;
  border: 1px solid rgb(192, 192, 192);
  background: rgb(192, 192, 192);
}

@media screen and (max-width: 815px) {
  .box-wrapper {
    width:100%;
  }
  .b1 {
    grid-column-end: span 3;
  }

  .b2 {
    grid-column-end: span 3;
  }

  .b3 {
    grid-column-end: span 3;
  }
}